/* .notification-message {
  width: auto !important;
}

.notification-container > div > .notification-warning {
  opacity: 0.95 !important;
}

.notification-container > div > .notification-warning:hover {
  opacity: 1 !important;
}
 */
